@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Kumbh Sans;
}

body{
    background: rgb(101,101,231);
    background: linear-gradient(0deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 100%) no-repeat center center fixed;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.card{
    width: 920px;
    height: 509px;
    border-radius: 20px;
    background: url(images/bg-pattern-desktop.svg), white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -530px -265px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.img-section-center {
    overflow-x: hidden;
}

.img-1 {
    display: block;
    margin-top: 4.7rem;
    margin-left: -4.5rem;
}
  
.img-2 {
    display: block;
    margin-left: -20.5%;
    margin-top: -48%;
}

.faq-wrapper{
    margin-top: 50px;
    width: 350px;
}

.faq-header{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.faqs-div{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding-bottom: 20px;
}

.question-div{
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;
}

.question-div:hover{
    color: #F47B56;
}

.answer-div{
   padding-top: 15px;
   display: none;
   font-size: 14px;
   color: hsl(240, 6%, 50%);
}


.arrow{
    width: 16px;
    height: 16px;
    color: hsl(14, 88%, 65%);
}



